<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Qms_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/kendo/styles/kendo.bootstrap-nordic.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Qms_Web.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo/js/kendo.aspnetmvc.min.js"></script>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow py-0">
            <div class="container-fluid">
                <a class="navbar-brand my-0 py-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/qms-logo.png" class="my-1 py-0" width="137" height="75" alt="HR QMS Logo">
                </a>
               
                    @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav ml-auto my-0 py-0">
                             <li class="nav-item" style="padding:0.375rem 0.75rem"><span class="text-primary">@User.Identity.Name</span></li>
                             <a class="k-button k-button-md k-rounded-md k-button-solid k-button-solid-primary" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                        </ul>
                    }
                 
            </div>
        </nav>
    </header>
    @if (User!.Identity!.IsAuthenticated)
    {
        <div class="demo-section wide">
            @(Html.Kendo().Menu()
                    .Name("QmsMenu")
                    .DataTextField("Title")
                    .DataUrlField("MenuUrlField")
                    .DataSource(ds => ds.Read("Menu_Read", "Menu")
                    .Model(model => model.Children("MenuItems")))
            )
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Qms_Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
